In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
data =pd.read_excel("prepareddata.xlsx")
data.head()

,Unnamed: 0,highestEdu,fatherDeceased,motherDeceased,homicideHis,useOfMobile,ageAtAdmissiongroup,fatherAgegroups,pastAdmissiongr,Male,...,occupation_Managers and Professionals,occupation_Plant and machine operators and assemblers,occupation_Service and sales workers,"occupation_Skilled agricultural, forestry and fishery workers",occupation_Student,maritalStatus_Married,maritalStatus_Widow,maritalStatus_divorced,positionAtBirth_First child,diagnosis
0,11,3,0,0,1,4,4,1,1,1,...,1,0,0,0,0,0,0,0,1,Other
1,12,4,0,0,0,2,4,1,1,1,...,1,0,0,0,0,1,0,0,1,Other
2,14,2,0,0,0,3,2,3,2,1,...,0,0,0,0,0,0,0,0,0,Depression
3,15,1,1,1,1,3,4,2,1,1,...,1,0,0,0,0,0,0,1,1,Other
4,16,1,0,0,0,3,4,1,1,1,...,1,0,0,0,0,1,0,0,0,Depression

In [3]:
data = data.drop(columns=['Unnamed: 0'])

In [4]:
# SET TARGET VARIABLE 
# Schizophrenia ( yes = 1 , no = 0 )

In [5]:
data.loc[~data['diagnosis'].str.contains('Seizure disorder', case=True), 'diagnosis'] = "No"

In [6]:
data.loc[data['diagnosis'].str.contains('Seizure disorder', case=True), 'diagnosis'] = "Yes"

In [7]:
data['seizuredisorder'] = data['diagnosis'].map( {'Yes':1, 'No':0} )
data = data.drop(columns=['diagnosis'])

In [8]:
# target variable and features

In [9]:
target = data['seizuredisorder']
features = data.drop(columns=['seizuredisorder'])

In [10]:
#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=chi2, k=20)
X = features
y = target 

fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                     Specs       Score
5                      ageAtAdmissiongroup  427.563233
102                     occupation_Student  182.736918
103                  maritalStatus_Married  165.242903
1                           fatherDeceased  140.554919
0                               highestEdu  138.243518
4                              useOfMobile  125.639408
15          employmentStatus_Self-employed  116.963784
2                           motherDeceased   96.043606
86                    primarySchool_Public   72.715149
14               employmentStatus_Employed   52.780481
72           psychoactiveSubType_Marijuana   52.368344
85                   primarySchool_Private   43.805712
80                   forensicIssue_Arrests   42.386023
55                  chronicIllness_Seizure   39.654893
98   occupation_Managers and Professionals   38.900273
10                              tribe_Igbo   34.781826
17         familyMentalType_Other disorder   28.943964
76                   familyType_Monogamous   28.475552
39                 presentLiving_Relatives   27.583571
100   occupation_Service and sales workers   25.604200

In [11]:
df1 = data[['seizuredisorder',
            'ageAtAdmissiongroup',
            'occupation_Student',
            'maritalStatus_Married',
            'fatherDeceased',
            'highestEdu',
            'useOfMobile',
            'employmentStatus_Self-employed',
            'motherDeceased',
            'primarySchool_Public',
            'employmentStatus_Employed',
            'psychoactiveSubType_Marijuana',
            'primarySchool_Private',
            'forensicIssue_Arrests',
            'chronicIllness_Seizure',
            'occupation_Managers and Professionals',
            'tribe_Igbo',
            'familyType_Monogamous',
            'presentLiving_Relatives',
            'occupation_Service and sales workers']]

In [12]:
df1.to_excel("seizuredisorder.xlsx")